<div class="avatar">
  <img src="assets/img/avatar-example.jpg">
  <p class="big-text">{{player?.name}}</p>
</div>

<div class="content-block">
  <div class="main-info">
    <div class="key-value-block">
      <p class="normal-text">матчи</p>
      <p class="big-text" style="color: #d2977e">{{player?.matchCount}}</p>
    </div>
    <div class="key-value-block">
      <p class="normal-text">победы</p>
      <p class="big-text" style="color: var(--smaj-green)">{{player?.winCount}}</p>
    </div>
    <div class="key-value-block">
      <p class="normal-text">% побед</p>
      <p class="big-text">{{winPercent | number: '2.0-1'}}%</p>


    </div>
    <div class="key-value-block">
      <p class="normal-text">ммр</p>
      <p class="big-text">{{player?.mmr}}</p>
    </div>
    <div class="key-value-block">
      <p class="normal-text">лучшая фракция</p>

      <!--      <p class="big-text">{{_player.bestFactionEntity.name}}</p>-->
      <!--      <p class="normal-text"> {{_player.mmr}} </p>-->
    </div>
  </div>
  <div></div>
  <div class="last-result">
    <div class="key-value-block">
      <!--        TODO-->
      <p class="normal-text">2 дня назад</p>
      <p class="mini-text">{{lastResult?.matchEntity?.isRating ? 'Рейтинг' : 'Паблик' }}</p>
    </div>
    <div class="key-value-block">
      <!--        TODO-->
      <p class="normal-text">68</p>
      <p class="mini-text">мин</p>
    </div>
    <div class="key-value-block">
      <!--        TODO-->
      <p class="normal-text"
         [ngClass]="lastResult?.winner ? 'green' : 'red'">{{lastResult?.winner ? 'Победа' : 'Поражение'}}</p>
      <p class="mini-text" [ngClass]="lastResult?.mmrChange> 0 ? 'green' : 'red'"> {{lastResult?.mmrChange> 0 ? '+':''}}{{ lastResult?.mmrChange }}</p>
    </div>
    <div class="factions">
      <div class="faction-images">
        <img src="{{imagePath(lastResult?.factionEntity1)}}">
        <img class="right" src="{{imagePath(lastResult?.factionEntity2)}}">
      </div>
      <div class="key-value-block">
        <p class="mini-text">{{lastResult?.factionEntity1?.name}}</p>
        <p class="mini-text">{{lastResult?.factionEntity2?.name}}</p>
      </div>
    </div>
    <div class="key-value-block">
      <p class="score mini-text">{{lastResult?.score}}/{{lastResult?.matchEntity?.winnerScore}}</p>
      <div class="bars">
        <div class="bar thisScore" [ngStyle]="{'width.%': scoreWidth()}"></div>
        <div class="bar maxScore" [ngStyle]="{'width.%': maxScoreWidth()}"></div>
      </div>
    </div>
  </div>

  <!--    <app-result-row [s]="ss"></app-result-row>-->
  <!--    <app-match-row #lastMatchRow></app-match-row>-->
</div>
