.dur{
  width: 150px;
}
.ago{
  width: 220px;
}
.win{
  width: 200px;
}
.fact{
  width: 250px;
}
.result-content{
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.score{
  /*color: #484c60;*/
}
.bars{
  margin-bottom: 10%;
  width: 7em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.thisScore{
  border-radius: 6px 0 0 6px;
  background-color: var(--smaj-green);
  height: 4px;
}
.key-value-block{
  line-height: 0;
}
.maxScore{
  height: 4px;
  border-radius: 0 6px 6px 0;
  background-color: var(--smaj-red);
}
.green{
  color: var(--smaj-green);
}
.red{
  color: var(--smaj-red);
}
.faction-images img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
}
.right{
  right: 20px;
}
.factions{
  display: flex;
  flex-direction: row;
}
.content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.avatar{
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
.name{
  margin-left: 1em;
}

.player{
  width: 200px;
  display: flex;
  flex-direction: row;
}
