<div>
  <a [href]="player.id">
    <div class="selectable content">
      <p class="place normal-text">{{place ? place : ''}}</p>
      <div class="player">
        <img class="avatar" [src]="getAvatar()">
        <p class="normal-text">{{player?.name}}</p>
      </div>
      <p class="mmr normal-text">{{player?.mmr}}</p>
      <p class="win normal-text">{{player?.winCount}}</p>
      <p class="match normal-text">{{player?.matchCount}}</p>
      <p class="faction normal-text"
         [ngStyle]="{'color' : getColor(player?.bestFactionEntity)}">{{player?.bestFactionEntity?.name}}</p>
    </div>
  </a>
</div>
