.top-bar-content{
  display: flex;
  /*TODO*/
  width: 900px;
  background-color: var(--smaj-content-background);
  margin: 0 auto 30px;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 30px 30px;
}
.top-bar-content div{
  padding: 1em;
}

