<div class="top-bar-content">
  <div class="content">
    <a class="selectable" href="/play"><div><p class="normal-text">Начать</p></div></a>
    <a class="selectable" href="/player/{{getPlayer()}}"><div><p class="normal-text">Домой</p></div></a>
    <a class="selectable" href="/matches"> <div><p class="normal-text">Матчи</p></div></a>
    <a class="selectable" href="/factions"> <div><p class="normal-text">Фракции</p></div></a>
    <a class="selectable" href="/factions"><div><p class="normal-text">Статистика</p></div></a>
  </div>
</div>
