.top-bar-content{
  /*TODO*/
  width: 900px;
  background-color: var(--smaj-content-background);
  margin: 0 auto 30px;
  border-radius: 0 0 30px 30px;
}
.content{
  display: flex;
  padding: 0 1em 0 1em;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.selectable{
  width: 100%;
  height: 100%;
}
/*.content a{*/
/*  padding-bottom: 1%*/
/*}*/

